.navigation {
  width: 90px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #eee;
}

.nav-content {
  height: 100%;
}

.nav-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-content ul li {
  margin: 12px 0;
}

.nav-content ul li a {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;

  transition: 0.3s;
}

.nav-content ul li a:hover {
  background: #f2f2f2;
}

.nav-content ul li a.active {
  background: #4b4cd3;
}

.nav-content ul li a img {
  width: 24px;
  height: 24px;
}

.logo {
  margin: 0px 0 0px;
}

.logo img {
  width: 45px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.logo-animation {
  animation: rotation 5s infinite linear;
}

.bottom-icon {
  margin-top: auto;
  margin-bottom: 20px;
}

.menu-icons a,
.bottom-icon a {
  width: 58px;
  height: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  font-size: 26px;

  color: #4f46e5;

  transition: all 0.3s ease;
}

.menu-icons a.active {
  background: #4f46e5;
  color: white;
}

.menu-icons a:hover,
.bottom-icon a:hover {
  background: #4f46e5;
  color: white;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}